h2 {
    font-size: 36px;
    color: mediumseagreen;
}

body {
    background-color: darkgray;
}

.content {
    background-color: white;
}

nav {
    position: relative;
}

#navbarSupportedContent {
    position: absolute;
    right: 10px;
}