h2 {
    font-size: 36px;
    color: mediumseagreen;
}

body {
    background-color: darkgray;
}

.content {
    background-color: white;
}

nav {
    position: relative;
}

#navbarSupportedContent {
    position: absolute;
    right: 10px;
}

body {
 background-image: url("https://www.techadvisor.co.uk/cmsdata/slideshow/3788397/Computer_code_thumb800.jpg");
}

#bigContainer {
    background-color: lightgray;
}